<nav class="nav">
<div class="nav-wrapper">
  <div class="nav-link-wrap-left"> 
    <a class="left-side nav-link-u" href="/">Home</a>
  </div>

  <div class="nav-link-wrap-right">

    <% if (!user) { %>
      <a class="right-side nav-link-u" href="/signup">Sign Up</a>
      <a class="right-side nav-link-u" href="/login">Log In</a>
    <% } else { %>
      <a class="right-side nav-link-u" href="/profile/journal">Profile</a>
      <a class="right-side nav-link-u" href="/tweets">Newsfeed</a>
      <a class="right-side nav-link-u" href="/logout">Logout</a>
    <% } %> 
  </div>
</div>
</nav>