<div class="nav-wrapper">
  <div class="nav-link-wrap-left"> 
    <a class="left-side" href="/">Home</a>
    <a class="left-side" href="/about">About</a>
    <a class="left-side" href="/donations">Donations</a>
  </div>

  <div class="nav-link-wrap-right">

    <% if (!user) { %>
      <a class="right-side" href="/users/new">Sign Up</a>
      <a class="right-side" href="/users/login">Log In</a>
    <% } else { %>
      <a class="right-side" href="/users/profile">Profile</a>
      <a class="right-side" href="/users/newsfeed">Newsfeed</a>
      <a class="right-side" href="/users/logout">Logout</a>
    <% } %> 
  </div>
</div>