<h2 class="title">Your saved tweets</h2>

<% tweets.forEach((tweet, i) => { %>
  <div class="wrapper-shadow">
      <p class="paragraph"><%= tweet.text %>  </p>
      <div class="form-buttons">
        <form action="/users/tweet/<%= tweet.id %>?_method=DELETE" method="post">
          <button class="add-btn" type="submit">Delete</button>
        </form>
    </div>
  </div>
  <%  }) %> 