<div class="body-wrapper">
  <div class="home-wrapper landing-img">
  <section class="landing">
    <div class="slideshow-container">

      <div class="no-wrapper">
        <h1 class="no">Close the sky</h1>
        <h1 class="no">over Ukraine</h1>
      </div>

      <div class="freedom">
        <div class="trizub"></div>
      </div>

      <div class="link-wrapper">
        <a class="help" href="https://linktr.ee/RazomForUkraine" target="_blank">Support Ukraine</a>
      </div>

      <div class="mySlides fade">
        <div class="numbertext"></div>
        <div class="image-1">
        </div>
        <div class="text"></div>
      </div>
      
      <div class="mySlides fade">
        <div class="numbertext"></div>
        <div class="image-2">
        </div>
        <div class="text"></div>
      </div>
      
      <div class="mySlides fade">
        <div class="numbertext"></div>
        <div class="image-3">
        </div>
        <div class="text"></div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext"></div>
        <div class="image-4">
        </div>
        <div class="text"></div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext"></div>
        <div class="image-5">
        </div>
        <div class="text"></div>
      </div>
      
      </div>
      
      <div style="text-align:center">
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
      </div>
  </section>