<div class="body-wrapper">
  <div class="home-wrapper">
  <!-- <h1>Hello from home</h1>  -->
  <section class="landing">
    <!-- <h1>Landing Page</h1> -->
    <div class="slideshow-container">

      <div class="no-wrapper">
        <h1 class="no">Stop Putin</h1>
        <h1 class="no">No War</h1>
      </div>

      <div class="freedom">
        <div class="trizub"></div>
      </div>

      <div class="link-wrapper">
        <a class="help" href="https://linktr.ee/RazomForUkraine" target="_blank">Support Ukraine</a>
      </div>

      <div class="mySlides fade">
        <div class="numbertext"></div>
        <div class="image-1">
          <!-- <img src="https://uploads-ssl.webflow.com/6219bab8c8b5100012bc8737/62259b307acae7431d172a42_IMG-1927twe.png" style="width:100%"> -->
        </div>
        <div class="text"></div>
      </div>
      
      <div class="mySlides fade">
        <div class="numbertext"></div>
        <div class="image-2">
          <!-- <img src="https://uploads-ssl.webflow.com/6219bab8c8b5100012bc8737/62259b30d123ca70492f3590_IMG-192742.png" style="width:100%"> -->
        </div>
        <div class="text"></div>
      </div>
      
      <div class="mySlides fade">
        <div class="numbertext"></div>
        <div class="image-3">
          <!-- <img src="https://uploads-ssl.webflow.com/6219bab8c8b5100012bc8737/62259b30387d421aed620360_IMG-1234.png" style="width:100%"> -->
        </div>
        <div class="text"></div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext"></div>
        <div class="image-4">
          <!-- <img src="https://uploads-ssl.webflow.com/6219bab8c8b5100012bc8737/62259b30387d421aed620360_IMG-1234.png" style="width:100%"> -->
        </div>
        <div class="text"></div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext"></div>
        <div class="image-5">
          <!-- <img src="https://uploads-ssl.webflow.com/6219bab8c8b5100012bc8737/62259b30387d421aed620360_IMG-1234.png" style="width:100%"> -->
        </div>
        <div class="text"></div>
      </div>
      
      </div>
      
      <div style="text-align:center">
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
      </div>
  </section>
  <!-- <section class="about">
    <h1>About</h1>
  </section> -->
</div>
</div>
<!-- <footer class="footer">
  <div class="footer-wrapper">
    <h1>Footer</h1>
    <div class="content">
      <img src="./public/img/trizub.png" alt="">
      <h1 class="footer-word">
        Слава Україні!
      </h1>
    </div>
    <div class="underline"></div>
  </div>
</footer> -->