<div class="body-wrapper">
  <div class="home-wrapper">
  <h1>Hello from home</h1> 
  <section class="landing">
    <h1>Landing Page</h1>
  </section>
  <section class="about">
    <h1>About</h1>
  </section>
</div>
</div>
<footer class="footer">
  <div class="footer-wrapper">
    <h1>Footer</h1>
    <div class="content">
      <img src="./public/img/trizub.png" alt="">
      <h1 class="footer-word">
        Слава Україні!
      </h1>
    </div>
    <div class="underline"></div>
  </div>
</footer>