<div class="body-wrapper">
  <div class="wrapper-all">
    <div class="form-wrapper">
      <h1 class="sign-up-h1">Login</h1>
      <form action="/login" method="POST">
        <div class="field">
        <!-- <label for="email">Email:</label> -->
        <input class="input" type="email" name="email" id="email" placeholder="Email">
        </div>
        <div class="field">
        <!-- <label for="password">Password:</label> -->
        <input class="input" type="password" name="password" id="password" placeholder="Password">
        </div>
        <div class="btn-wrapper">
          <button class="btn-signup" type="submit">Login</button>
        </div>
        </form>
    </div>
  </div>
</div>