<div class="body-wrapper">
  <div class="wrapper-all">
  <div class="form-wrapper">
  <h1 class="sign-up-h1">Sign Up</h1> 
  <form action="/signup" method="POST">
    <div class="field">
      <!-- <label for="firstName">First name:</label> -->
      <input class="input" type="text" name="firstName" id="firstName" placeholder="First name">
      </div>
    <div>
    <div class="field">
      <!-- <label class="label" for="lastName">Last name:</label> -->
      <input class="input" type="text" name="lastName" id="lastName" placeholder="Last name">
    </div>
    <div class="field">
      <!-- <label class="label" for="userName">User name:</label> -->
      <input class="input" type="text" name="userName" id="userName" placeholder="User name">
    </div>
    <div class="field">
      <!-- <label class="label" for="email">Email:</label> -->
      <input class="input" type="email" name="email" id="email" placeholder="Email">
    </div>
    <div class="field">
      <!-- <label class="label" for="password">Password:</label> -->
      <input class="input" type="password" name="password" id="password" placeholder="Password">
    </div>
    <div class="btn-wrapper">
      <button class="btn-signup" type="submit">Submit</button>
    </div>
    </form>
  </div>
</div>
</div>