<div class="body-wrapper">
  <div class="top-body-wrap">
    <div>
      <h1>Newsfeed</h1>
    </div>

    <div>
      <a href="/users/noteform">Document a war crime</a>
    </div>
  </div>

<%  %> 

  <ul>
    <% dataAll.forEach((x, i) => { %>
      <li>
        <h6 class="war-subject"><%= x.text %></h6>
        <p class="paragraph"><%= x.d %>  </p>
        <br>
        <div class="form-buttons">
          <form action="" method="get">
            <button class="edit-btn" type="submit">add tweet</button>
          </form>
      </div>
      </li>
    <%  }) %> 
  </ul>
</div>
