<div class="body-wrapper">
  <div class="top-body-wrap">
    <div>
      <h1>Newsfeed</h1>
    </div>

    <div>
      <a href="/users/noteform">Document a war crime</a>
    </div>

    
  </div>
</div>
