<div class="body-wrapper">
  <div class="wrapper-all">
    <div class="form-wrapper">
  <h1 class="sign-up-h1">Note Form</h1> 
  <form action="/users/noteform" method="POST">
    <div class="field">
      <input class="input" type="text" name="subject" id="subject" placeholder="Subject">
    </div>
    <div class="field">
      <input class="input" type="url" name="link" id="link" placeholder="Link">
      </div>
    <div>
    <div class="field">
      <input class="input" type="text" name="textarea" id="text" placeholder="ext">
    </div>
      <input type="hidden" name="userId" value=<%= user.id %> >
      <div class="btn-wrapper">
        <button class="btn-signup" type="submit">Submit</button>
      </div> 
    </div> 
  </form>
</div>
</div>
</div>