<div class="body-wrapper">
  <div class="wrapper-all">
    <div class="form-wrapper">
  <h1 class="sign-up-h1">Note Form</h1> 
  <form action="/users/noteform" method="POST">
    <div class="field">
      <label for="subject">Subject:</label>
  
      <input type="text" name="subject" id="subject">
    </div>
    <div class="field">
      <label for="link">Link:</label>
  
      <input type="url" name="link" id="link">
      </div>
    <div>
      <label for="textarea">Text:</label>
  
      <textarea name="textarea" id="" cols="30" rows="10"></textarea>

      <input type="hidden" name="userId" value=<%= user.id %> >
      <div class="btn-wrapper">
        <button class="btn-signup" type="submit">Submit</button>
      </div> 
    </div> 
  </form>
</div>
</div>
</div>