<div class="body-wrapper">
  <h1>Note Form</h1> 
  <form action="/" method="POST">
    <div>
    <label for="text">Subject</label>
    <br>
    <input type="text" name="email" id="email">
    </div>
    <div>
    <label for="text">Text:</label>
    <br>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <br>
    <button type="submit">Submit</button>
  </form>
</div>