* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  font-family: Helvetica, sans-serif;
}

/* Nav */
.nav {
  width: 100%;
  position: absolute;
  z-index: 11;
}

.nav-wrapper {
  display: flex;
  padding: 40px 0px; 
  justify-content: space-between;
  width: 90vw;
  margin: 0 auto;
  z-index: 10;
}

.nav-link-u {
  font-size: 18px;
  font-weight: 600;
  /* text-transform: uppercase; */
  color: #666666;
  transition: 0.3s;
  text-decoration: none;
}

.nav-link-u:hover {
  color: black;
}

.body-wrapper {
  /* padding-top: 8%; */
  width: 90vw;
  margin: 0 auto;
  position: relative;
}

.top-body-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4%;
}

.top-header-wrap {
  display: flex;
  justify-content: space-between;
}

/* .profile-left-side {
  display: flex;
  flex-direction: column;
} */

.profile-right-side {
  align-self: flex-end;
}


/* form */

/* .body-wrapper {
  height: 100vh;
} */



.form-buttons {
  display: flex;
  padding-top: 20px;
}

.profile-username {
  padding-top: 30px;
  align-self: flex-end;
}

.left-side:not(:last-child) {
  margin-right: 20px;
}

.right-side:not(:last-child) {
  margin-right: 20px;
}

.war-subject {
  margin-block-end: 0em;
  padding-bottom: 10px;
}

.edit-btn {
  margin-right: 10px;
}

.war-links {
  padding-bottom: 10px;
}

.paragraph {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

a {
  text-decoration: none;
}

h1 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

h3 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.landing {
  position: relative;
  height: 80vh;
  /* background-color: aquamarine; */
}

.about {
  height: 100vh;
  background-color: blueviolet;
}

/* sign up */
.sign-up-h1 {
  text-align: center;
  padding-bottom: 30px;
}

.wrapper-all {
  height: 100vh;
}

.form-wrapper {
  background-color: white;
  width: 350px;
  padding: 40px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}

.btn-wrapper {
  padding-top: 30px;
  margin: 0 auto;
}

.btn-signup {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  height: 60px;
  background-image: linear-gradient(to right, #0D0D0D 0%, #414345  51%, #0D0D0D  100%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.field {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40px;
}

.field:not(:last-child) {
  padding-bottom: 10px;
}

.input {
  height: 30px;
}

input[type=text] {
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

input[type=email] {
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

input[type=password] {
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

input[type=url] {
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

label {
  padding-bottom: 10px;
}


/* home */
.home-wrapper {
  padding-top: 8%;
  position: relative;
  z-index: 0;
}

/* newsfeed */
.newsfeed-wrapper {
  padding-top: 10%;
}

.tweet-wrapper-newsfeed {
  padding: 20px;
  margin-bottom: 40px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}

/* .add-btn {
  font-weight: 600;
  background-color: black;
  padding: 15px 45px;
  
  cursor: pointer;
  color: white;
  background-color: #0D0D0D;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: blue; 
  border: none;
} */



.add-btn-x {background-image: linear-gradient(to right, #0D0D0D 0%, #414345  51%, #0D0D0D  100%)}
/* .add {background-image: linear-gradient(to right, #004FF9 0%, #FFF94C  51%, #004FF9  100%)} */
.add-btn-x {
  width: 100px;
  margin-right: 10px;
  font-weight: 600;
  font-size: 10px;
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
  display: block;
  border: none;
  cursor: pointer;
 }

 .add-btn-x:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


.add {background-image: linear-gradient(to right, #0D0D0D 0%, #414345  51%, #0D0D0D  100%)}
/* .add {background-image: linear-gradient(to right, #004FF9 0%, #FFF94C  51%, #004FF9  100%)} */
.add {
  font-weight: 600;
  font-size: 10px;
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
  display: block;
  border: none;
  cursor: pointer;
 }

 .add:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 .document-btn {background-image: linear-gradient(to right, #0D0D0D 0%, #414345  51%, #0D0D0D  100%)}

 .document-btn {
  font-weight: 600;
  font-size: 16px;
  padding: 15px 25px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
  display: block;
  border: none;
  cursor: pointer;
}

.document-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
 


/* .added {
  font-weight: 600;
  background-color: rgb(41, 117, 41);
  padding: 10px 10px;
  
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: none;
} */


.added {background-image: linear-gradient(to right, #28292b5e 0%, #8d8c7960  51%, #24242562  100%)}
.added {
  font-weight: 600;
  font-size: 10px;
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
  display: block;
  border: none;
 }




.document-btn-a {
  color: white;
}

/* Profile */
.greetings {
  font-size: 18px;
}

.wrapper-shadow {
  padding: 20px;
  margin-bottom: 40px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}

.title {
  font-size: 18px;
  padding-bottom: 40px;
}

/* profile journal*/
.profile-wrapper {
  padding-top: 10%;
}

.link-crime-reports {
  color: black;
  text-decoration: underline;
}

/* .add-btn:not(:last-child) {
  padding-bottom: 10px;
} */

/* .add-btn {
  margin-right: 10px;
} */

/* profile tweet */
.tweet-wrapper {
  padding-top: 10%;
}

/* Footer */
.footer {
  height: 30vh;
  color: white;
  background-color: #0D0D0D;
}

.footer-wrapper {
  padding: 40px 20px;
  height: 60%;
}

.footer-word {
  font-size: 18px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100%;
}

.underline {
   height: 1px;
   width: 100%;
   background-color: #666666;
}

/* slides */
.mySlides {display: none;}
img {vertical-align: middle;}

.no-wrapper {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}

.link-wrapper {
  position: absolute;
  display: flex;
  top: 97%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}

.help {
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  color: white;
  text-transform: uppercase;
}

.freedom {
  position: absolute;
  display: flex;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}

.trizub {
  width: 35px;
  height: 60px;
  background-image: url('https://uploads-ssl.webflow.com/6219bab8c8b5100012bc8737/6225b5efd6689047a2a75950_trizub.png');
  background-position: 50% 50%;
  background-size: cover;
}

.no {
  text-align: center;
  font-size: 60px;
  color: white;
  text-transform: uppercase;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 0px;
  width: 0px;
  /* margin: 0 2px; */
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.image-1 {
  width: 100%;
  height: 85vh;
  background-image: url('https://uploads-ssl.webflow.com/6219bab8c8b5100012bc8737/62259b307acae7431d172a42_IMG-1927twe.png');
  background-position: 50% 50%;
  background-size: cover;
}

.image-2 {
  width: 100%;
  height: 85vh;
  background-image: url('https://uploads-ssl.webflow.com/6219bab8c8b5100012bc8737/62259b30d123ca70492f3590_IMG-192742.png');
  background-position: 50% 50%;
  background-size: cover;
}

.image-3 {
  width: 100%;
  height: 85vh;
  background-image: url('https://uploads-ssl.webflow.com/6219bab8c8b5100012bc8737/62259b30387d421aed620360_IMG-1234.png');
  background-position: 50% 50%;
  background-size: cover;
}

.image-4 {
  width: 100%;
  height: 85vh;
  background-image: url('https://uploads-ssl.webflow.com/6219bab8c8b5100012bc8737/62259b30973610453457aef7_IMG-1927.png');
  background-position: 50% 50%;
  background-size: cover;
}

.image-5 {
  width: 100%;
  height: 85vh;
  background-image: url('https://uploads-ssl.webflow.com/6219bab8c8b5100012bc8737/6225ad500cf4aa168da2c21c_IMG-192742dsd.png');
  background-position: 50% 50%;
  background-size: cover;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}